:root{
    --fs-16:16px;
    --fs-50:50px;
    --fs-25:25px;
    --fs-14:14px;
    --fs-20:20px;
    --fs-35:35px;
    --fs-18:18px;
    --fs-40:40px;
/*--------------------- color---------------------------- */
    --whitee:#FBFBFB;
    --light-white: #FFF;
    --dark-blue:#0B132A;
    --grey:#4F5665;
    --red:#F53855;
    --white:#FFFFFF;
    --dark-white:#FAFAFA;
    --green:#2FAB73;
    --light-grey:#EEEFF2;
}



  
